.grid-container {
  display: grid;
  height: 90vh;
  width: 98vw;
  grid-template-columns: repeat(27, auto);
  grid-template-rows: repeat(25px);
  padding: 10px;
  
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

.current-cell {
  border: 2px solid rgba(255, 0, 0, 0.87);
  outline: rgba(255, 0, 0, 0.87) solid 2px;
}

#formula-input {
  font-size: 20px;
  margin-bottom: 5px;
}

.grid-container-wrapper {
  overflow-x: scroll;
  overflow-y: scroll;
}

.vertical-align{
  vertical-align: top;
}