body {
  overflow: hidden;
}
.grid-container {
  display: grid;
  height: 90vh;
  width: 98vw;
  grid-template-columns: repeat(27, auto);
  outline: rgb(241 236 236 / 71%) solid 10px;
  background-color: white;
}

.grid-item {
  background-color: white;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

.current-cell {
  background-color: red;
}

#cell-contents-display {
  font-size: 20px;
  height: 25px;
  width: 200px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 5px solid black;
}

.grid-container-wrapper {
  overflow-x: scroll;
  overflow-y: scroll;
}

.vertical-index {
  background-color: #f2f3f7;
  position: sticky;
  left: 0;
}

.horizontal-index {
  background-color: #f2f3f7;
  height: 25px;
  position: sticky;
  top: 0;
}
